@import url('https://fonts.googleapis.com/css?family=Alice|Questrial|Lato|Open+Sans|Source+Serif+Pro|Ubuntu');

* {
    margin: 0;
}

body {
    background: #78a85d;
}

header {
    background-color: #135c27;
    font-size: 2em;
    color: #e3e1e1;
}

p {
    padding: 1% 1% 1% 4%;
}

header > p {
    padding: 2%;
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 1.1em;
    color: #001a1c;
    margin: 1% auto;
}

main div:last-child {
    position: relative;
}

button {
    border: 3px solid #001a1c;
    box-shadow: 3px;
    width: 5%;
    height: 2em;
    margin: 0.5%;
}

textarea{
    width: 45%;
}

button,
#visualBlock,
#colorChoose,
#fontChoose{
    background: #8bb0ba;
}

input[type="text"] {
    background-color: #e3e1e1;
}

/*https://bloggood.ru/vebmasteru/polzunok-v-html-oformlenie-i-vyvod-znacheniya.html/*/
input[type=range]::-moz-range-track {
    height: 5px;
    background-color: #e3e1e1;
}

input[type=range]::-moz-range-thumb {
    background-color: #e3e1e1;
    border: none;
    border-radius: 0;
    width: 5px;
    height: 25px;
    cursor: pointer;
}

.questrial {
    font-family: 'Questrial', sans-serif;
}

#visualBlock {
    position: relative;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    top: calc(50% - 100px / 2);
    border-width: 2px;
    border-color: #001a1c;
    border-style: solid;
    border-radius: 15%;
    text-align: center;
    font-family: 'Alice',serif;
}

#visualBlock > p {
    padding: 1%;
}

#color{
    background-color: black;
}

#fontChoose label{
    display: block;
    margin: 2% 2% 0 2%;
}

#fontChoose, #colorChoose{
    visibility: hidden;
    position: fixed;
    display: grid;
    height: auto;
    margin: 0 auto;
    padding: 1%;
}
#fontChoose{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 45%;
}

#colorChoose {
    grid-template-columns: 30% 5% 1fr;
    grid-column-gap: 5%;
    width: 30%;
}

#colorChoose *:nth-child(3) {
    justify-self: end;
}

#hsl input[type="text"],
#rgb input[type="text"] {
    width: 3em;
}

#pallet {
    position: relative;
    background-image: linear-gradient(to top, black, transparent), linear-gradient(to right, white, transparent);
    background-color: red;
}

#line {
    position: relative;
    background-image: linear-gradient(to bottom, hsl(0, 100%, 50%), hsl(60, 100%, 50%), hsl(120, 100%, 50%), hsl(180, 100%, 50%), hsl(240, 100%, 50%), hsl(300, 100%, 50%), hsl(360, 100%, 50%));
}

#ranger {
    width: 100%;
    height: 3%;
    position: absolute;
    background-color: white;
    top: 2%;

    border-radius: 2px;
}

#curs {
    border: 2px solid white;
    border-radius: 20px;
    width: 5px;
    height: 5px;
    background-color: black;
    position: absolute;
}

.show {
    visibility: visible !important;
}
.btnFont,#result{
    width: 20%;
    font-size: 1em;
    margin: 2% 2% 2% 0;
}

.btnFont, #Alice{
    font-family: 'Alice',serif;
}

#Arial{
    font-family: 'Arial',serif;
}

#Georgia{
    font-family: 'Georgia',serif;
}

#Helvetica{
    font-family: 'Helvetica',serif;
}

#Lato {
    font-family: 'Lato',sans-serif;
}

#OpenSans{
    font-family: 'Open Sans',sans-serif;
}

#SourceSerifPro{
    font-family: 'Source Code Pro',sans-serif;
}
#TimesNewRoman{
    font-family: 'Times New Roman',sans-serif;
}

#Ubuntu{
    font-family: 'Ubuntu',serif;
}

#Verdana{
    font-family: 'Verdana',serif;
}

